jenkins_sonarqube_token: secret-token
jenkins_gitlab_api_token: token
jenkins_terraform_api_token: yaot
jenkins_slack_token: doyouthinkiammad
jenkins_private_ssh_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  RG8geW91IHJlYWxseSB0aGluayBJIHdvdWxkIHVwbG9hZCBteSBzZWNyZXQga2V5IG9uIG
  dpdGh1Ygo=
  -----END OPENSSH PRIVATE KEY-----
jenkins_github_token: Token
jenkins_frontend_cypress_key: Another Token
jenkins_e2e_cypress_key: Another Token
