jenkins_sonarqube_token: secret-token
jenkins_gitlab_api_token: token
jenkins_terraform_api_token: yaot
jenkins_private_ssh_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  RG8geW91IHJlYWxseSB0aGluayBJIHdvdWxkIHVwbG9hZCBteSBzZWNyZXQga2V5IG9uIG
  dpdGh1Ygo=
  -----END OPENSSH PRIVATE KEY-----

