#! /bin/sh
# Redirect output
# Save STDOUT to fd=3 and STDERR to fd=4

destroy_agent() {
terraform destroy -auto-approve -var "jenkins_path=$WORKSPACE" -var "username=$USER" -var "jenkins_agent_jar_url=$SLAVEJAR_URL" -var "hcloud_token=$TOKEN" -var "server_size=cx41"
}

trap destroy_agent 1 3 6 15
exec 3>&1 4>&2
LOGFILE=$(mktemp /var/log/jenkins/jenkins_agent_XXXXXXXX)
NODE_NAME=$(echo $LOGFILE | sed -e's#/var/log/jenkins/jenkins_agent_##')
exec >${LOGFILE} 2>&1

OLDPWD=$PWD
WORKINGDIR=$(mktemp -d)

cp "{{ jenkins_home }}/terraform/jenkins.tf" "$WORKINGDIR"

cd "$WORKINGDIR" || exit 1

TOKEN=$(cat "{{ jenkins_home }}/terraform/token")

eval "$(ssh-agent -s)"
ssh-add ~/.ssh/id_rsa

terraform init
terraform apply -auto-approve -var "node_name=$NODE_NAME" -var "jenkins_path=$WORKSPACE" -var "username=$USER" -var "jenkins_agent_jar_url=$SLAVEJAR_URL" -var "hcloud_token=$TOKEN" -var "server_size=cx41"

SLAVE_IP=$(terraform output -json | jq .instance_ip_addr.value | sed -e's/"//g')

ssh-keygen -f ~/.ssh/known_hosts -R $SLAVE_IP
exec >&3
ssh -o StrictHostKeyChecking=no -l $USER $SLAVE_IP java -jar $WORKSPACE/agent.jar
exec >>${LOGFILE} 2>&1

terraform destroy -auto-approve -var "jenkins_path=$WORKSPACE" -var "username=$USER" -var "jenkins_agent_jar_url=$SLAVEJAR_URL" -var "hcloud_token=$TOKEN" -var "server_size=cx41"

exit 0
